body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* body{
  background-color: aqua;
  box-sizing: border-box;
  margin:0;
  padding:0%;
}

div{
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

h1{
  padding:20px 20px;
  background-color: antiquewhite;
  color:#fa9191;
  border-radius: 20px;
} */

/* *{
  box-sizing: border-box;
  padding:0%;
  margin:0;
  background-color:#d2dbdd;
}

.cards{
  width: 100%;
  height: auto;
}

.heading_style{
  text-align: center;
  color:burlywood;
  background-color: white;
  text-transform: capitalize;
  padding:20px 0px;
  margin-bottom: 30px;
  font-size: 10px;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 2px;
}
.card{
  margin:6%;
  transition:all 0.4s cubic-bezier(0.175, 0.885, 0 ,1);
  background-color:#fff;
  width: 21.25%;
  border-radius: 20px;
  box-shadow:0px 13px 12px -7px blue ;
  float:left;
}
.card:hover{
  box-shadow:0px 13px 12px -7px blue ;
  transform: scale(1.05,1.05);
}
.card_img{
  width:100%;
  height:253px;
  border-radius:20px 20px 0 0 ;

}
.card_info{
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  padding:16px 24px 24px 24px;
}

.card_category{
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  color:grey;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.card_title{
  background-color: #fff;
  margin:5px 0 10px 0;
  text-transform: capitalize;
}

button{
  padding:5px 8px;
  background-color: #fff;
  color:grey;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2px;
  border:1px solid black;
  cursor:pointer;
}
button:hover{
  background-color:violet;
}

@media(max-width:768px){
  .card{
    float:none;
    margin:10%;
   width:90%;
  }
} */

/* *{
  box-sizing: border-box;
  margin:0;
  padding:0%;
  background-color: #d2dbdd;
}

.heading_style{
  text-align: center;
  background-color: #fff;
  color:burlywood;
  padding:20px 0px;
  margin-bottom:30px;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: capitalize;

}

.solt_inner{
  width: 50%;
  height: auto;
  align-content: center;
  margin:0% 6% 0% 30%;
  display:block;
  border: 1px solid red;
  
} */


/* *{
  box-sizing: border-box;
  padding:0%;
  margin:0;
  background-color: purple;

}

div{
width:100%;
height: 100vh;
display:flex;
align-items: center;
  justify-content: center;
}

button{
  
  color:white;
  font-size: 20px;
  border:  2px solid white;
  padding:20px 40px;
  background-color: salmon;
  cursor: pointer;
  border-radius: 20px;
}
button:hover{
  background-color:brown;
} */

/* Forms ke liye 
*{
  box-sizing: border-box;
  padding:0%;
  margin:0;
  background-color: #d2bddb;
}

div{
  width:100%;
  height:100vh;
  background-color:violet;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

h1{
  color:white;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

input{
  width:200%;
  padding:10px 20px;
  background-color: white;
  outline: none;
  border:none;
  margin:20px 0px;
  text-align: center;
}
button{
  line-height: 24px;
  border: 2px white solid;
  border-radius: 5px;
  padding:0px 20px;
  background: transparent;
  color:white;
  font-size: 20px;
  text-transform: uppercase;
  outline: none;
  cursor:pointer;
}

button:hover{
  background-color: #ff82ff;
} */

/*  *{
  box-sizing: border-box;
  padding: 0%;
  margin:0;
  
} */
/*button.MuiButtonBase-root{
  border-radius: 50%;
  border: none;
  background-color: green;
}*/
/* .main_div{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  background: #7bed9f;


}

.center_div{
width:25%;
height: 80vh;
background-color: #f4f4f4;
border-radius: 15px;
box-shadow: 5px 5px 25px -5px black;

}

.center_div h1{
  background:transparent ;
  background-color: purple;

  color:white;
  letter-spacing: 2px;
  padding:6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  border-top-left-radius: 15px;
  border-top-right-radius:15px ;
}
.center_div input{
  text-align: center;
  background: transparent;
  height:30px;
  top:10px;
  border: none;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #8566aa;
  outline:none;
} 
 .center_div button{
  height: 40px;
  width:40px;
  border-radius: 50%;
  background: transparent;
  background-color: #8566aa;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  font-size: 30px;
  color:#fff;
  
}

button:hover{
  background-color: #20bf6b;
} 



.newBtn
{
  width: 50px;
  height:55px;
  background-color: #16a085;
  color:white;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  border-radius:50%;
}
button.newBtn:hover{
  color:#16a085;
  background-color: white;
}


ol{
  margin-top: 30px;
  padding-left: 20px;
}

ol li{
  padding-left:0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-width: 40px;
  display:flex;
  align-items: center;
  color:#8566aa;
  text-transform: capitalize;
  margin:6px;
  
}

.todo_style{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;

}

.deleteIcon{
max-width:20px;
max-height:20px;
border-radius: 50%;
display:flex;
justify-content: center;
align-items:center;
background-color: #8566aa;
margin :0 2px -5px -10px;
flex-direction: row;
font-size: 20px;
color:aliceblue;
box-shadow: 5px 5px  15px -5px rgba(0, 0, 0, 0.596);
padding:2px;
}
.deleteIcon:hover{
  background-color:white;
  color:crimson;

}  */
/* *{
  box-sizing: border-box;
  padding:0%;
  margin:0;
  
}

.main_div{
  width:100%;
  height:100vh;
  background-color: khaki;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.center_div{
  width:30%;
  height:40vh;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.3);
}

.center_div h1{
  width:100%;
  padding:10px;
  background-color:darkblue;
  font-size: 50px;
  color:#fff; 
}

.btn_div{
  width:100%;
  margin:29px;
  display: flex;
  justify-content: space-between;
  padding:20px;
  
}

.btn_div button{
  display:flex;
  justify-content: center;
  align-items: center;
  outline:none;
  border: none;
  background-color: darkblue;
  padding: 10px 20px;
  color:#fff;
  font-size: 30px;
  font-weight: 700;
 cursor:pointer;
 box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
 transition: 0.4s cubic-bezier(0.175, 0.885, 0 ,1);
}

#add:hover{
  transform: scale(1.1,1.1);
  background: transparent;
  background-color: greenyellow;
}

#delete:hover{
  transform: scale(1.1,1.1);
  background: transparent;
  background-color: crimson;
} */
/*
keep up app ke liye 
*{
  box-sizing: border-box;
  padding:0;
  margin:0%;

}
.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header{
  background-color: yellow;
  display:flex;
  align-items: center;
  padding:10px;
  width:100%;
}

.heading{
  color:white;
  text-shadow: 5px 5px 15px -5px black;
  text-align: left;
  margin-left: 6px;
}
.main_note{
  min-width:30%;
  height:30vh;
  display:flex;
  align-items: center;
  justify-content:center;
  background: transparent;
  margin:2%;
  border-radius: 20px;
  padding-top: 40px;
  box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.3) ;
}

input{
outline:none;
border: none;
border-bottom:2px solid yellow;
text-transform: capitalize;
font-size:15px;
font-weight: 700;
}

 ::placeholder{
  color:black;
  
}

textarea{
  outline :none;
  border:none;
  font-size:15px;
}

button.MuiButtonBase-root{
  width:40px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
 border-radius: 50%;
 color: yellow;
 box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

button.addBtn{
  margin-top:30px;
  margin-bottom:-10px;
  margin-left:300px;
}

button.addBtn:hover{
  color:white;
  background-color: yellow;;
}
.manage_note{
  width: 100%;
  float:left;
  
}

.note{
  float: left;
  margin:2%;
  min-width: 20%;
  min-height:5%;
  display:flex;
  justify-content: center;
  align-items:center;
  box-shadow: 10px 10px 25px -5px rgba(0,0,0,0.3);
  flex-direction: column;
  border-radius: 5px;
  
}
.deleteBtn{
  width: 40px;
  border:none;
  outline: none;
  color:yellow;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.deleteIcon{
  

  font-size: 15px;
  border-radius: 50%;
  
}

.deleteBtn:hover{
  color: white;
  background-color: yellow;
}

.note h1{
  text-transform: capitalize;
font-size:15px;
font-weight: 700;

}
.note p{
  font-size:15px;
  display:block;

}

.footer {
  margin-top: 34vh;  
} */

/* .navbar_style{
  width:100%;
  background-color:#20232a ;
  display: flex;
  justify-content: space-around;
  line-height: 60px;
  
}

a.active_class{
  color:#ffffff;
  border-bottom: 1px solid red;
}

a{
  color:cyan;
  text-decoration: none;
} */
 *{
  margin:0;
  padding:0;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
}

.navbar{
  background-color: #fff;
}

.navbar-brand{
  font-size: 1.9rem;
  color:blue;
}
.navbar-light .navbar-brand{
  color:blue;
}

.navbar-nav .nav-item .nav-link {
  color: blue;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link,
.navbar-light .navbar-brand:hover {
  color: green;
}
.menu_active{
  font-weight: bold;
  border-bottom:2px solid red;
}
.navbar-toggler-icon{
  color:green;
  outline-color:green ;
}

#header{
  width:100%;
  height:80vh;
  
}

#header h1{
  margin:0 0 10px 0;
  font-size:48px;
  font-weight: 700;
  color:black;
}

#header .brandname{
  color:#3498db;
}

#header h2{
  color:#484848;
  font-size:24px;
}

.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  padding:10px 30px;
  text-decoration:none;
  border:2px solid #3498db;
  border-radius: 50px;
  padding:10px;
}
.btn-get-started:hover{
color:#fff;
background-color:#3498db;
}

.header-img{
  text-align: right;
}

#header .animated{
  animation:up-down 2s ease-in-out 0s infinite alternate-reverse  both;
}

@keyframes  up-down{

  0%{
    transform:translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }
}

@-webkit-keyframes up-down {

  0%{
    transform:translateY(20px);
  }
  100%{
    transform: translateY(-20px);
  }

}
